@font-face {
  font-family: "Beausite";
  src: url("/public/BeausiteClassicTrial-Clear.otf");
}

:root {
  --background-color: #FFFFFF;
  --text-color: #000000;
  --outer-padding: 0.5em;
  --header-height: 1rem;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-size: 36px;
  font-family: Beausite;
  text-align: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 900px) {
  .App {
    font-size: 64px;
  }
}

@media screen and (max-width: 375px) {
  .App {
    font-size: 28px;
  }
}

a {
  display: inline;
  color: currentColor;
}

.icon svg {
  height: 0.7em;
}
