@font-face {
  font-family: "Beausite";
  src: url("/public/BeausiteClassicTrial-Clear.otf");
}

:root {
  --background-color: #FFFFFF;
  --text-color: #000000;
  --outer-padding: 1em;
  --header-height: 1rem;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.App {
  font-size: 24px;
  font-family: Beausite;
  text-align: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 750px) {
  .App {
    font-size: 36px;
  }
}

a {
  display: inline;
  color: currentColor;
  text-decoration: none;
}
